@page
@model ForgotPasswordModel


<div id="logreg-forms" class="container form-group col-10 offset-1">
        <h1 class="h3 mb-3 font-weight-normal text-info pt-4" style="text-align:center;">Forgot your password?</h1>
        
      
      
<div class="container-fluid">
    
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger center"></div>
            <div class="form-group p2">
                @*<label asp-for="Input.Email"></label>  *@              
                 <input asp-for="Input.Email" placeholder="Enter your email" type="email" class="form-control" />
                  <span asp-validation-for="Input.Email" class="text-danger"></span>
                
            </div>
            <button type="submit" class="text-dark btn btn-block btn-outline-secondary ">Submit</button>
        </form>  
       </div>
    </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
