@page
@model ForgotPasswordConfirmation
<div class =" card px-lg-5 p-4" id="logreg-forms">
    <div clas="card-body">
        <h1 class="h3 mb-3 font-weight-normal text-info pt-4" style="text-align:center;">Forgot your password?</h1>
       <div class="text-center pt-4">
        <p>
    Please, check your email to reset your password.
   You can close this page or go to the home page. 
        </p>
         <a asp-action="Index" class="text-dark btn btn-outline-secondary btn-square" style="height:50px;">Back to home page</a>
        </div>
        </div>
        </div>
